#principal div:first-child{
    background-color: rgb(105, 97, 97);

    width: 400px;
    height: 200px;

    font-size: 30px;
    color: white;
}

#principal div{
    background-color: aqua;

    width: 400px;
    min-height: 200px;
    margin-top: 10px;

    font-size: 30px;
}
article {
    width: 200px;
    height: 200px;

    color: white;
    font-size: 30px;
    background-color: blueviolet;
}

#principal div:nth-child(3){
    background-color: rgba(168, 90, 240, 0.288);
}

#principal div:nth-child(4){
    background-color: rgb(197, 85, 231);
}

#principal div:nth-child(5){
    background-color: rgb(119, 195, 240);
}

#principal div:nth-child(6){
    background-color: rgb(102, 243, 120);
}

#principal div:nth-child(7){
    background-color: rgb(247, 185, 110);
}