#principal {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

#principal div:first-child{
    background-color: rgb(105, 97, 97);

    width: 300px;
    height: 200px;

    font-size: 30px;
    color: white;
}

#principal div{
    background-color: aqua;

    width: 300px;
    min-height: 200px;
    margin-top: 10px;

    font-size: 30px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.274);
}
#principal div:hover{
    animation: loading 1s linear;
    
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.274);
}
@keyframes loading {
    from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(360deg);
	}
}
article {
    width: 200px;
    height: 200px;

    color: white;
    font-size: 30px;
    background-color: blueviolet;
}

#principal div:nth-child(3){
    background-color: rgba(168, 90, 240, 0.288);
}

#principal div:nth-child(4){
    background-color: rgb(197, 85, 231);
}

#principal div:nth-child(5){
    background-color: rgb(119, 195, 240);
}

#principal div:nth-child(6){
    background-color: rgb(102, 243, 120);
}

#principal div:nth-child(7){
    background-color: rgb(247, 185, 110);
}